<IfModule rewrite_module>
RewriteBase /
RewriteEngine on
RewriteCond $1 !^(index\.php|img|libs|js|css|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>
<IfModule deflate_module>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript
</IfModule>
